/*====================================================================
siteHeader
====================================================================*/
.siteHeader {
  height: $headerHeightPC;
  left: 0;
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .is_login_user & {
    top: $wpAdminBarPC;
  }

  &__innerArea {
    @include u-contentCenter($widthPC: $contentCenter, $paddingLR-PC: 15px, $paddingLR-SP: 15px);
    @include u-flex($jc: space-between, $ai: center);
  }

  &__hamburger {
    width: 5em;
    height: 5em;
    display: block;
    position: absolute;
    top: 20px;
    right: 3%;
    z-index: 200;
  }

  &__hamburgerLine {
    position: absolute;
    top: 45%;
    right: 25%;
    width: 54%;
    height: 3px;
    background-color: $black;
    border-radius: 3px;
    transition: 0.5s 0.25s;
    z-index: 1000;
    &:nth-child(1) {
      transform: translateY(9px);
    }
    &:nth-child(3) {
      transform: translateY(-9px)
    }
  }
}
