//- META INFORMATION
- const page_title = 'Website Name'
- const relativePath = '.'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keywords'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com'
- const currentPage = 'home'


//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = false
- const isSwiper = false
- const isBootstrap = false
- const isPolyfill = true


doctype html
html(lang="ja")
    head
        //- HEAD
        include ./_inc/_head.pug

    body.topPage#to
        //- MAIN CONTENT
        main.siteContent(role="main")
            section.animation
                h1.animation__title 行動目標 アニメーション課題
                ol.animation__list
                    li.animation__item
                        a.animation__link(href="./aos/") AOS.js WOWの代替
                    li.animation__item
                        a.animation__link(href="./gsapSideScroll/") GSAP 横スクロール
                    li.animation__item
                        a.animation__link(href="./gsapFullPage/") GSAP FullPage.jsのようにスクロール
                    li.animation__item
                        a.animation__link(href="./gsapTimeLine/") TimeLineによる、つながるアニメーション
                    li.animation__item
                        a.animation__link(href="./gsapLoader/")  GSAP スプラッシュ画面
                    li.animation__item
                        a.animation__link(href="./gsapScrollSmoother/")  GSAP 慣性スクロール
                    li.animation__item
                        a.animation__link(href="./splitLayout/") スプリットレイアウト 画面半分固定、半分スクロール
