/*====================================================================
topPageFvSec
====================================================================*/
.main {
  position: relative;
}


/*-----------------------------------------------
fvSec
------------------------------------------------*/
.fvSec {
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: url('../images/fvSec/fvSec-circle.png') no-repeat;
  background-size: contain;

  @include u-mqMax(768px) {
    background: url('../images/fvSec/circle_sp.png') no-repeat;
    background-size: 200%;
    background-position: right top;
  }


  &__fvTitle {
    position: absolute;
    bottom: 30%;
    left: 12.5%;
    z-index: 3;
    @include u-articleText($color: $black, $fz: 6rem, $ff: "barlow", $fw: bold, $ls: 0, $lh: 1.1em);
    @include u-mqMax(768px) {
      bottom: 30%;
      font-size: 3.2rem;
      left: 2.5%;
    }
  }

  &__fvSubTitle {
    position: absolute;
    bottom: 10%;
    left: 12.5%;
    z-index: 3;
    @include u-articleText($color: $black, $fz: 3rem, $ff: "barlow", $fw: bold, $ls: 0, $lh: 1.46em);
    @include u-mqMax(768px) {
      bottom: 10%;
      font-size: 2rem;
      line-height: 1.5em;
      left: 2.5%;
    }
  }

  &__fvFig {
    width: 76.38vw;
    min-width: 900px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    @include u-mqMax(768px) {
      width: 92%;
      min-width: 300px;
      padding-top: 6rem;
    }
  }

  &__fvCircleFig {
    width: 69.41%;
    min-width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    @include u-mqMax(768px) {
      width: 100%;
    }
  }
}

/*-----------------------------------------------
philosophySec
------------------------------------------------*/
.philosSec {
  position: relative;
  z-index: 2;
  @include u-mqMax(768px) {
    padding-top: 8rem;
  }

  &__topCont {
    width: 88.19%;
    margin: auto 0 0 0;
    @include u-flex($jc: space-between);
    @include u-mqMax(800px) {
      width: 100%;
      flex-direction: column;
    }
  }

  &__topFig {
    width: 48.81%;
    min-width: 300px;
    @include u-mqMax(800px) {
      width: 92%;
      min-width: 250px;
    }
  }

  &__textCont {
    width: 43.3%;
    min-width: 470px;
    @include u-mqMax(1100px) {
      padding-left: 10%;
    }
    @include u-mqMax(768px) {
      width: 92%;
      min-width: 0;
      margin: 0 auto 5rem;
    }
  }

  &__title {
    position: absolute;
    top: 2%;
    left: 50%;
    @include u-mqMax (768px) {
      top: 0;
      left: 15%;
    }
  }

  &__catchCopyText {
    padding-top: 25.5%;
    @include u-articleText($color: $black, $fz: 3rem, $ff: "游ゴシック体", $fw: bold, $lh: 1.7em);
    @include u-mqMax (768px) {
      font-size: 2rem;
      padding: 3.6rem 0;
    }
  }

  &__descText {
    padding: 9% 0 18%;
    @include u-articleText($color: $black, $fz: 1.6rem, $ff: "游ゴシック体", $fw: 500, $lh: 2.31em);
    @include u-mqMax (768px) {
      font-size: 1.4rem;
      padding: 0;
    }
  }

  &__bottomCont {
    padding: 50px 0;
    background:linear-gradient(to left, #f0e373, #9dd2ee);
    @include u-mqMax(768px) {
      background:linear-gradient(to bottom, #f0e373, #9dd2ee);
    }
  }

  &__bottomInner {
    width: 76.38%;
    margin: 0 auto;
    @include u-flex($jc: space-between, $ai: center);
    @include u-mqMax(768px) {
      width: 92%;
      flex-direction: column;
    }
  }

  &__bottomBox {
    width: 31.8%;
    @include u-mqMax(768px) {
      width: 100%;
      &:not(:first-child) {
        margin-top: 3rem;
      }
    }
  }

  &__bottomContText {
    text-align: center;
    margin-top: 2rem;
    @include u-articleText($color: $black, $fz: 1.6rem, $ff: "游ゴシック体", $fw: bold,  $lh: 1.68em)
  }
}


/*-----------------------------------------------
serviceSec
------------------------------------------------*/
.serviceSec {
  background-image: url("../images/serviceSec/circleBg_pc.png");
  background-repeat: no-repeat;
  background-position: -150% -30%;
  position: relative;
  padding-top: 12rem;
  &__title {
    position: absolute;
    top: 5%;
    left: 12%;
  }
  @include u-mqMax(768px) {
    background-image: url("../images/serviceSec/circleBg.png");
    background-repeat: no-repeat;
    background-size: 1291px;
    background-position: 25% 50%;
    padding: 9rem 0 0 0;
    margin-top: 5rem;
  }

  &__serviceName {
    @include u-articleText($color: $black, $fz: 3rem, $ff: "游ゴシック体", $fw: bold,  $lh: 1.68em);
    @include u-mqMax(768px) {
      padding: 2rem 0 4.1rem 0;
      font-size: 2rem;
    }
  }

  &__otherServiceName {
    margin: 2rem 0  6.1rem 0;
    @include u-articleText($color: $black, $fz: 3rem, $ff: "游ゴシック体", $fw: bold,  $lh: 1.68em);
    @include u-mqMax(768px) {
      padding: 2rem 0 4.1rem 0;
      font-size: 2rem;
    }
  }

  .textJp {
    @include u-articleText($color: $black, $fz: 1.6rem, $ff: "游ゴシック体", $fw: 500,  $lh: 1.68em);
    @include u-mqMax(768px) {
      font-size: 1.4rem;
    }
  }

  &__topCont {
    width: 88.19%;
    margin: 0 0 0 auto;
    @include u-flex($jc: space-between, $ai: center);
    @include u-mqMax(1100px) {
      width: 100%;
      margin: 0;
    }
    @include u-mqMax(768px) {
      flex-direction: column;
    }
  }

  &__topFig {
    width: 62rem;
    min-width: 38.7rem;
    @include u-mqMax(1100px) {
      width: 40rem;
    }
    @include u-mqMax(768px) {
      width: 92%;
      order: -1;
      position: absolute;
      right: 0;
    }
  }

  &__title {
    @include u-mqMax(768px) {
      position: absolute;
      top: 0;
      right: 4%;
    }
  }

  &__textCont {
    position: relative;
    margin-top: 6rem;
    width: calc(100% - 56.36%);
    @include u-mqMax(768px) {
      position: relative;
      width: 92%;
      margin: 0 auto;
      padding-top: 66.5%;
    }
  }

  &__descArea {
    padding: 54px 30px 60px 0;
    min-width: 56rem;
    @include u-mqMax(768px) {
      min-width: 0;
      padding: 0 0 4.1rem 0;
    }
  }

  &__bottomCont {
    padding: 10rem 0 12rem;
    @include u-mqMax(768px) {
      padding-top: 5rem;
    }
  }

  &__bottomInner {
    @include u-flex($jc: space-between, $ai: stretch);
    @include u-mqMax(768px) {
      @include u-flex($fd: column)
    }
  }

  &__bottomInnerBox {
    position: relative;
    width: 47.24%;
    @include u-mqMax(768px) {
      width: 100%;
      &:first-child {
        margin-bottom: 3rem;
      }
    }
  }

  &__bottomText {
    padding: 20px 0;
  }

  &__subTitle {
    margin-bottom: 4rem;
    @include u-articleText($color: black, $fz: 3rem, $ff: "Barlow", $fw: bold, $ls: 0, $lh: 1.2em);
    @include u-mqMax(768px) {
      padding-bottom: 3rem;
      font-size: 2rem;
    }
  }

  &__serviceBottomLink {
      position: absolute;
      bottom: 0;
      left: 0%;
    @include u-mqMax(768px) {
      display: inline-block;
      left: 65%;
    }
  }
}

/*-----------------------------------------------
recruitSec
------------------------------------------------*/
.recruitSec {
  position: relative;
  @include u-mqMax(768px) {
    padding: 13.7rem 0 5rem;
  }
  &__innerCont {
    width: 88.19%;
    @include u-flex($jc: space-between, $ai: center);
    @include u-mqMax(768px) {
      width: 100%;
      flex-direction: column;
    }
  }

  &__title {
    position: absolute;
    top: 20%;
    right: 21%;
    @include u-mqMax(1100px) {
      top: 0;
      right: 18%;
    }
  }
  &__fig {
    width: 60.94%;
    min-width: 38.7rem;
    @include u-mqMax(768px) {
      width: 100%;
      min-width: 0;
    }
  }

  &__descText {
    min-width: 38rem;
    @include u-mqMax(768px) {
      min-width: 0;
      padding: 0;
    }
  }

  &__rightArea {
    padding: 9% 0 0 3%;
    @include u-mqMax(768px) {
      position: relative;
      width: 92%;
      margin: 0 auto;
    }
  }

  &__bottomLink {
    @include u-mqMax(768px) {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

/*-----------------------------------------------
newsSec
------------------------------------------------*/
.newsSec {
  position: relative;
  background-color: #F4F4F4;
  padding: 10em 0 5rem 0;

  &__innerCont {
    position: relative;
    @include u-flex($jc: space-between);
    @include u-mqMax(1100px) {
      flex-direction: column;
    }
  }

  &__rightArea {
    width: 68.18%;
    min-width: 550px;
    @include u-mqMax(1100px) {
      width: 100%;
      min-width: 0;
    }
  }

  &__list {
    width: 100%;
    @include u-flex($fw: wrap);
    @include u-mqMax(768px) {
      flex-flow: column;
      padding: 3.9rem 0 0 0;
    }
  }

  &__itemTime {
    flex-basis: 20%;
    border-bottom: 1px solid #ccc;
    padding-left: 1.5rem;
    @include u-articleText($color: black, $fz: 1.6rem, $ff: "Barlow", $fw: bold,  $lh: 5em);
    @include u-mqMax(768px) {
      font-size: 1.4rem;
      line-height: 2.14;
      border-bottom: 0;
      padding: 2rem 0 1.5rem 1.5rem;
    }
  }

  &__itemText {
    flex-basis: 70%;
    border-bottom: 1px solid #ccc;
    @include u-articleText($color: black, $fz: 1.6rem, $ff: "游ゴシック体", $fw: 500,  $lh: 5em);
    @include u-mqMax(768px) {
      font-size: 1.4rem;
      line-height: 2.14;
      padding: 0 0 2rem 1.5rem;
    }
  }

  &__bottomLink {
    display: block;
    position: absolute;
    top: 60%;
    left: 0;
    @include u-mqMax(768px) {
      display: inline-block;
      top: 120%;
      left: 65%;
      margin-top: 3rem;
    }
  }


}
/*-----------------------------------------------
contactSec
------------------------------------------------*/
.contactSec {
  position: relative;
  text-align: center;
  padding: 9rem 0 8.4rem 0;
  background:linear-gradient(to left, #f0e373, #9dd2ee);

  &__title {
    @include u-articleText($color: $black, $fz: 5rem,  $ff: "barlow", $fw: bold);
    @include u-mqMax(768px) {
      font-size: 4rem;
    }
  }

  &__textJp {
    @include u-articleText($color: black, $fz: 1.6rem, $ff: "游ゴシック体", $fw: 500,  $lh: 5em);
    @include u-mqMax(768px) {
      font-size: 1.4rem;
      line-height: 5.7;
    }
  }
  &__arrow {
    position: absolute;
    top: 45%;
    right: 4%;
    &:before {
      position: relative;
      top: 40%;
      left: 35%
    }
  }
}

/*-----------------------------------------------
common parts
------------------------------------------------*/
.subTitle {
  @include u-articleText($color: $black, $fz: 5rem,  $ff: "barlow", $fw: bold);
  &:before {
    content: "";
    display:inline-block;
    width: 40px;
    height: 30px;
    background:url(../images/circle.png) no-repeat;
    background-size: 2.4rem 1.6rem;
    background-position: top 50% left 0;
  }

  @include u-mqMax(768px) {
    font-size: 4rem;
  }
}

.moreLink {
  position: absolute;
  bottom: 0;
  right: 0;
  // position: relative;
  @include u-trs;
  @include u-hoverOp;
  @include u-articleText($color: black, $fz: 1.4rem, $ff: "Barlow", $fw: 500, $lh: 1.21em);
  &:hover {
    color: $black;
  }
  &:before{
    content: '';
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #888;
    border-radius: 50%;
    position: absolute;
    top: -60%;
    left: 9rem;
    @include u-mqMax(768px) {
      top: -10%;
      right: -55%;
    }
  }
  &:after{
    content: '';
    display: inline-block;
    width: .6rem;
    height: .6rem;
    border-top: 2px solid $black;
    border-right: 2px solid $black;
    transform: rotate(45deg);
    position: absolute;
    top: 45%;
    left: 10.5rem;
    @include u-mqMax(768px) {
      top: 45%;
      right: -40%;
    }
  }
}

.descriptionText {
  @include u-articleText($color: black, $fz: 1.6rem, $ff: "游ゴシック体", $fw: 500,  $lh: 2.31em);
  @include u-mqMax(768px) {
    font-size: 1.4rem;
    line-height: 2.142em;
  }
}

.container {
  width: 76.38%;
  margin: 0 auto;
  @include u-mqMax(1100px) {
    width: 92%;
  }
}

.rightArrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid #888;
    border-radius: 50%;
    position: absolute;
    &:before {
      content: '';
      display: block;
      width: .6rem;
      height: .6rem;
      border-top: 2px solid $black;
      border-right: 2px solid $black;
      transform: rotate(45deg);
      position: absolute;
      top: 40%;
      left: 40%;
    }
  }

  .modalSec {
    display: none;
    @include u-trs;
    &.is-open {
      display: block;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      background-color: #242424;
      position: fixed;
      top: 0;
      left: 0;
      padding: 21.5rem 0 19rem;
      z-index: 9999;
      @include u-mqMax(1100px) {
        padding-top: 9.5rem;
      }
    }
      &__navItem {
      color: #fff;
      font-size: 3rem;
      @include u-mqMax(1005px) {
        padding-top: 3rem;
      }
      }
      &__hamburger {
        width: 5em;
        height: 5em;
        display: block;
        position: absolute;
        top: 20px;
        right: 3%;
        z-index: 9999;
      }
      &__hamburgerLine {
        position: absolute;
        top: 45%;
        right: 25%;
        width: 54%;
        height: 3px;
        background-color: $white;
        border-radius: 3px;
        transition: 0.5s 0.25s;
        z-index: 9999;
        &:nth-child(1) {
          transform: rotate(135deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: rotate(-135deg);
        }
      }


      &__innerCont {
        @include u-mqMax(1250px) {
          width: 92%;
          margin: 0 auto;
        }
      }

      &__navList {
        @include u-flex($fw: wrap, $jc: space-between);
        @include u-mqMax(1005px) {
          flex-direction: column;
        }
      }

      &__navItem {
        width: 42%;
        min-width: 461px;
        &:last-child {
          margin-top: 5rem;
        }
        @include u-flex;
        @include u-mqMax(1005px) {
          min-width: 0;
          width: 100%;
          border-bottom: 1px solid #888;
          flex-direction: column;
        }
      }

      &__navItemLinkList {
        @include u-flex($fd: column);
        @include u-mqMax(1005px) {
          padding-left: 40px;
          width: 85.13%;
        }
      }

      &__navItemTitle {
        margin-right: 6rem;
        @include u-articleText($color: $white, $fz: 3rem, $ff: "游ゴシック体", $fw: bold, $lh: 1.7em);
        @include u-mqMax(1250px) {
          font-size: 2rem;
        }
      }

      &__navItemLink {
        @include u-articleText($color: $white, $fz: 1.6rem, $ff: "游ゴシック体", $fw: 500, $lh: 3.1em);
        @include u-mqMax(1250px) {
          font-size: 1.4rem;
        }
      }

      &__navItemInfoLink {
        &:first-child {
          &:after {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            margin-left: 1.1rem;
            background: url('../images/linkLogo.png') no-repeat;
            background-size: contain;
            position: relative;
            top: 3px;
            left: 0;
          }
          margin-right: 6rem;
        }
        @include u-articleText($color: $white, $fz: 2rem, $ff: "游ゴシック体", $fw: bold, $lh: 1.7em);
      }

      .textEng {
        @include u-articleText($color: #707070, $fz: 1.4rem, $ff: "Barlow", $fw: 500);
      }
  }
