@mixin u-articleText(
  $color: $white,
  $fz: 1.4rem,
  $ls: 0.05em,
  $lh: 1.2,
  $ff: "barlow",
  $fw: 400
  )

  {
  color: $color;
  font-size: $fz;
  letter-spacing: $ls;
  line-height: $lh;
  font-family: $ff;
  font-weight: $fw;

  // Liquid
  @include u-mqMax() {

  }

  // SP
  @include u-mqMax($maxW: $windowSP) {
  }
}
